{% extends "layout.html" %}

{% block content %}
  <!-- =============================================== -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Información sobre el evento</small>
      </h1>
    <!-- Main content -->
    <section class="content">
      <div class="row">
       <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>Usuarios</h3>
              <p>registrados</p>
            </div>
            <div class="icon">
              <i class="fa fa-user"></i>
            </div>
            <a href="/lista-registrados" class="small-box-footer">
              Más información <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ........................................................-->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>Total</h3>

              <p>pagados</p>
            </div>
            <div class="icon">
              <i class="fa fa-users"></i>
            </div>
            <a href="/lista-registrados" class="small-box-footer">
              Más información <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ........................................................-->
         <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>Total</h3>

              <p>sin pagar</p>
            </div>
            <div class="icon">
              <i class="fa fa-user-times"></i>
            </div>
            <a href="/lista-registrados" class="small-box-footer">
              Más información <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ........................................................-->
         <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>Total</h3>

              <p>de ganancias</p>
            </div>
            <div class="icon">
              <i class="fa fa-usd"></i>
            </div>
            <a href="/lista-registrados" class="small-box-footer">
              Más información <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <h2 class="page-header">Regalos</h2>
        <div class="row">
          <!-- ........................................................-->
         <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-blue">
            <div class="inner">
              <h3>Regalos</h3>

              <p>Pulseras</p>
            </div>
            <div class="icon">
              <i class="fa fa-gift"></i>
            </div>
            <a href="/lista-registrados" class="small-box-footer">
              Más información <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ........................................................-->
         <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-orange">
            <div class="inner">
              <h3>Regalos</h3>

              <p>Etiquetas</p>
            </div>
            <div class="icon">
              <i class="fa fa-gift"></i>
            </div>
            <a href="/lista-registrados" class="small-box-footer">
              Más información <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- ........................................................-->
         <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-purple">
            <div class="inner">
              <h3>Regalos</h3>
              <p>Plumas</p>
            </div>
            <div class="icon">
              <i class="fa fa-gift"></i>
            </div>
            <a href="/lista-registrados" class="small-box-footer">
              Más información <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        </div>
     </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% endblock %}
